/* Make sure html and body are full height */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* Container will take up all remaining space between header and footer */
.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

h1 {
    margin-bottom: 10px;
}

form {
    width: 100%;
    max-width: 600px;
    text-align: center;
}

textarea {
    width: 100%;
    max-width: 100%;
    height: 150px;
    resize: vertical;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

/* Footer styling */
footer {
    background-color: #f1f1f1;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    position: sticky;
    bottom: 0;
}
/* Logo styling */
.logo {
    text-align: center;
    margin-bottom: 0px;
}

.logo img {
    max-width: 70px; /* Adjust as needed */
    height: auto;
}
